$stats-breakpoint: screen and (min-width: 66.25rem);
$chart-height: 13rem;

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  max-width: 90rem;

  @media #{$stats-breakpoint} {
    flex-direction: row;
  }
}

.stats__selector {
  position: relative;
  max-width: 35rem;

  @media #{$stats-breakpoint} {
    width: 40%;
  }
}

.stats__marker {
  font: inherit;
  cursor: pointer;
  display: block;
  padding: 0;

  position: absolute;
  border: 4px solid #f3dfb3;
  box-shadow: 0 0 4px 0 transparentize($black, 0.2);
  background-color: transparentize($white, 0.7);

  width: 1.5rem;
  height: 1.5rem;
  margin-top: -0.75rem;
  margin-left: -0.75rem;

  border-radius: 50%;
}

.stats__marker-label {
  font: inherit;
  background-color: $white;
  margin-left: 1.5rem;
  line-height: 1;
  padding: 0.25rem;
  box-shadow: 0 0 4px 0 transparentize($black, 0.2);

  opacity: 0;
  visibility: hidden;

  transition: ease-in-out 0.15s;
  transition-property: visibility opacity;

  .stats__marker:hover & {
    opacity: 1;
    visibility: visible;
  }
}

.stats__chart-wrapper {
  position: relative;
  box-shadow: 0 0 10rem $black;

  background-color: $white;
  margin-left: 1rem;
  margin-right: 1rem;

  padding: 3rem 2.5rem 3rem 2rem;
  align-self: center;

  @media #{$stats-breakpoint} {
    width: 60%;
    margin-left: -2rem;
    margin-right: 0;
  }
}

.bar-chart {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 4rem 1fr;
  grid-template-areas:
    "title title"
    "axis chart"
    ". labels"
    "legend legend";
}

.bar-chart__title {
  @extend %h2-font-styles;

  grid-area: title;
  margin: 0 0 4rem;
  font-size: 1.75rem;
}

.bar-chart__bars {
  grid-area: chart;
  // TODO proper reset:
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;

  height: $chart-height;
}

.bar-chart__bar {
  flex: 1;
  margin: 0 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bar-chart__bar-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gold;
  height: 1%;
  transform-origin: bottom center;
  transition: 0.35s ease-in-out;

  .bar-chart--multi & {
    display: block;
    position: relative;
  }
}

.bar-chart__value {
  position: relative;
  z-index: 10;
  color: $white;
  font-size: 1.125rem;

  .bar-chart--multi & {
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    color: $black;
    margin-bottom: .5rem;
  }
}

.bar-chart__value-part {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
  font-size: 0.75rem;

  &:nth-child(2) {
    background-color: $navy-blue;
  }
}

.bar-chart__labels {
  grid-area: labels;
  display: flex;
}

.bar-chart__label {
  flex: 1;
  margin: 0.5rem 0.5rem;

  text-align: center;
  font-weight: $font-weight-extra-bold;
}

.bar-chart__legend {
  grid-area: legend;

  list-style: none;
  display: flex;
  justify-content: center;
}

.bar-chart__legend-item {
  position: relative;
  padding-left: 1.5em;
  margin-right: 1.5rem;

  &:nth-child(1) {
    &::before {
      background-color: $navy-blue;
    }
  }

  &:nth-child(2) {
    &::before {
      background-color: $gold;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;

    height: 1em;
    width: 1em;
    background-color: $gold;

    transform: translateY(-50%);
  }
}
/* Y Axis */

$axis-width: 4px;

.bar-chart__y-axis {
  grid-area: axis;
  height: $chart-height;
  border-right: $axis-width solid $black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.bar-chart__y-axis-min,
.bar-chart__y-axis-max {
  position: relative;
  padding-right: 1rem;

  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;

    width: 0.5rem;
    height: $axis-width;
    background-color: $black;
  }
}

.bar-chart__y-axis-min {
  transform: translateY(50%);

  &::before {
    margin-top: -$axis-width;
  }
}

.bar-chart__y-axis-max {
  transform: translateY(-50%);

  &::before {
    margin-bottom: -$axis-width;
  }
}
