$team-width: 3.75rem;
$row-gap: 0.125rem * 3;

$row-templates: "";

@for $i from 4 through 20 {
  $row-templates: $row-templates +
    "[season-#{$i - 1}-#{$i}-end season-#{$i}-#{$i+1}-start] #{$team-width} ";
}

$row-templates: unquote($row-templates);

.teams-wrapper {
  background-color: $white;
  padding: 5rem 3rem;
}

.teams {
  display: grid;
  grid-template-rows: $row-templates;
  grid-template-columns: max-content repeat(6, minmax(0, $team-width));
  grid-gap: $row-gap 1rem;

  width: max-content;
  margin: 0 auto;

  $border-color: rgba(0, 0, 0, 0.25);

  background-image: linear-gradient(
    transparent 0,
    transparent #{$team-width + ($row-gap / 3)},
    $border-color 0,
    $border-color #{$team-width + ($row-gap / 3 * 2)},
    transparent 0,
    transparent #{$team-width + $row-gap}
  );
  background-size: 100% $team-width + $row-gap;
  background-position: 0 0;
  background-repeat: repeat-y;
}

.teams__season {
  margin: 0 2rem 0 0;

  grid-column: 1;
  align-self: center;

  @for $i from 4 through 20 {
    &--#{$i}-#{$i + 1} {
      grid-row: season-#{$i}-#{$i + 1}-start / season-#{$i}-#{$i + 1}-end;
    }
  }

  line-height: 1;
}

.team {
  position: relative;

  background-color: $black;
  border-radius: $team-width / 2;

  &::before {
    content: "";
    display: block;
    width: $team-width - 1rem;
    height: $team-width - 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: center / contain no-repeat;

    position: sticky;
    top: 0.5rem;
  }
}

.team__overlay {
  visibility: hidden;
}

.team__overlay-title {
  display: block;
  text-align: center;
  font-weight: $font-weight-extra-bold;
}

.team__overlay-info {
  margin-top: 0.5em;
  display: block;
  text-align: center;
}

.team--scb-junior {
  grid-column: 2;

  &::before {
    background-image: url(../images/scb.png);
  }
}

.team--scb {
  grid-column: 3;

  &::before {
    background-image: url(../images/scb.png);
  }
}

.team--milwaukee {
  grid-column: 4;

  &::before {
    background-image: url(../images/milwaukee.png);
  }
}

.team--nashville {
  grid-column: 5;

  &::before {
    background-image: url(../images/nashville.png);
  }
}

.team--ch {
  grid-column: 6;

  &::before {
    background-image: url(../images/ch.png);
    background-size: 80%;
  }
}

.team--eu {
  grid-column: 7;

  &::before {
    background-image: url(../images/team-europe.png);
    background-size: 80%;
  }
}
