$root-font-size: 1rem;

$white: #ffffff;
$black: #1b1b1b;

$gold: #ffb81c;
$dixie: #e0a219;
$navy-blue: #041e42;

/* Typo */

$font-weight-semi-bold: 600;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
