@import "variables";
@import "typography";

@import "teams";
@import "stats";

html {
  font-size: $root-font-size;
}

body {
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.cell {
  max-width: 64rem;
  margin: 0 1rem;

  @media screen and (min-width: 60rem) {
    margin: 0 auto;
  }
}

.section__title {
  @extend %h2-font-styles;
}
