@import "variables";
@import "typography";

@import "teams";
@import "stats";
@import "map";
@import "tooltip";

html {
  font-size: $root-font-size;
}

body {
  font-family: "Raleway", sans-serif;
  background: $navy-blue;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.cell {
  max-width: 64rem;
  margin: 0 1rem;

  @media screen and (min-width: 60rem) {
    margin: 0 auto;
  }
}

.section {
  margin-bottom: 10rem;
}

.section__title {
  @extend %h2-font-styles;

  .section--stats & {
    color: $white;
  }
}

/* Header */

.header__image {
  min-width: 100%;
  display: block;
}

.header__meta {
  position: relative;
  z-index: 1;
  background-color: $white;
  margin: -5rem 3rem 5rem;
  padding: 3rem 2rem;
  box-shadow: 0 0 10rem $black;
}

.header__title {
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
}

.header__number {
  display: block;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
}

.header__characteristics {
  font-size: 1.25rem;
  text-align: center;
  // margin: 0;
}
